<configuration>
    <property>
        <name>candle.num.reducers</name>
        <value>6</value>
    </property>
    <property>
        <name>candle.width</name>
        <value>1000</value>
    </property>
    <property>
        <name>candle.date.from</name>
        <value>20110501</value>
    </property>
    <property>
        <name>candle.date.to</name>
        <value>20110601</value>
    </property>
</configuration>